doctype html
html(lang='ru')
  head
    title Обучение вёрстке

  body
    main 
      markdown-it: 
        # Hexlet. Научитесь программировать и получите востребованную профессию
        var md = require('markdown-it')();
        md.render('# JH');